a {
  display: block;
  font-size: 60px;
  line-height: 180px;
  background-color: yellow;
  text-align: center;
  position: relative;
}

i {
  background-color: red;
  display: block;
}

span {
  background-color: #fff;
}

.block {
  /* margin: 120px; */
  padding: 120px;
  padding-top: 0;
  padding-bottom: 0;
}
